
		.bg-image {
            /* The image used */
            background-image: url("assets\images\background.PNG");
            
          
            
            /* Full height */
            height: 100%; 
            
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }



h1{
        text-align: center,bottom;
        color:black;   
        font-weight:300;    
        font-size:50px;
        right: 20ch;
text-transform: capitalize;
        outline: 5ch;
      
  
}
h2
{
    text-align: center;
    color: black;
    font-kerning: normal;
    vertical-align: 50%;
    font-weight: 100px;
   word-spacing: 100cm;
}
h3 { 
    text-align: center;
    font-size: 50px;

}

body{
    background-image: image(assets\imagesfor hp\background.PNG)
    text-align: center,left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
* {box-sizing:border-box}



 
li{
    text-align: center;
    font-size: 15px;


}
a{
    text-align: center;

}
ul{
    text-align: center;
}


